In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz') #Michael's from Rotten Tomatos 
movie_studios = pd.read_csv('zippedData/bom.movie_gross.csv.gz')     #Teigen's from Box Office Mojo 
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')    #Louis' from basics IMDB
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')  #Louis' ratings from IMDB
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')                  #Ely's from TMDB

In [3]:
#Ely's innitial cleaning TMDB 
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

tmdb = tmdb.replace(pd.Series(genres).astype(str), regex=True)
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')

In [4]:
#IMDB merge
title_master = title_basics.merge(title_ratings, how='inner')

In [5]:
louis_and_ely = tmdb.merge(title_master, how = 'inner')
louis_and_ely

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,0,"[Adventure, Fantasy, Family]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,tt0926084,Harry Potter and the Deathly Hallows: Part 1,2010,146.0,"Adventure,Fantasy,Mystery",7.7,425530
1,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
2,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
3,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
4,5,"[Adventure, Fantasy, Family]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,tt0814255,Percy Jackson & the Olympians: The Lightning T...,2010,118.0,"Adventure,Family,Fantasy",5.9,165108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17800,26509,[Horror],502255,en,Closing Time,0.600,20Drama-02-24,Closing Time,0.0,1,tt8731118,Closing Time,2018,116.0,Documentary,6.4,51
17801,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt2962488,The Last One,2014,80.0,"Documentary,History,News",7.0,26
17802,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt3118968,The Last One,2018,85.0,"Action,Adventure,Fantasy",6.1,15
17803,26515,"[Family, Adventure, Action]",366854,en,Trailer Made,0.600,20Drama-06-22,Trailer Made,0.0,1,tt3377456,Trailer Made,2016,79.0,Adventure,4.3,25
17804,26516,"[Thriller, Horror]",309885,en,The Church,0.600,20Drama-10-05,The Church,0.0,1,tt2482856,The Church,2018,81.0,"Horror,Thriller",5.7,19

In [6]:
louis_and_ely_and_teigen = louis_and_ely.merge(movie_studios, how = 'inner')

In [7]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [8]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [9]:
movie_budgets_df = movie_budgets_df.rename(columns={'movie':'title'})

In [10]:
master_unclean = let.merge(movie_budgets_df, on = 'title', how = 'inner')
master_unclean

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,...,genres,averagerating,numvotes,studio,year,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,"Action,Adventure,Animation",8.1,611299,P/DW,2010,30,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010,15,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010,38,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,"Adventure,Animation,Comedy",8.3,682218,BV,2010,47,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,"Animation,Comedy,Family",7.7,464511,Uni.,2010,50,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,24089,"[Drama, History, Thriller]",453201,en,The 15:17 to Paris,11.576,20Drama-02-09,The 15:17 to Paris,5.3,799,...,"Biography,Drama,Thriller",5.2,21880,WB,2018,23,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,24120,[Comedy],474335,en,Uncle Drew,10.836,20Drama-06-29,Uncle Drew,6.5,220,...,"Comedy,Sport",5.7,9739,LG/S,2018,85,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,24168,"[Crime, Drama, History, Thriller]",339103,en,Gotti,10.034,20Drama-06-15,Gotti,5.2,231,...,"Biography,Crime,Drama",4.8,10358,VE,2018,64,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,24212,"[Thriller, Action, Crime]",442064,en,Proud Mary,9.371,20Drama-01-Adventure,Proud Mary,5.5,259,...,"Action,Crime,Drama",4.9,6805,SGem,2018,50,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,"Action,Adventure,Animation",8.0,16854,VE,2018,100,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [11]:
master_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1665 non-null   int64
 1   genre_ids          1665 non-null   object
 2   id_x               1665 non-null   int64
 3   original_language  1665 non-null   object
 4   original_title     1665 non-null   object
 5   popularity         1665 non-null   float64
 6   release_date_x     1665 non-null   object
 7   title              1665 non-null   object
 8   vote_average       1665 non-null   float64
 9   vote_count         1665 non-null   int64
 10  tconst             1665 non-null   object
 11  primary_title      1665 non-null   object
 12  start_year         1665 non-null   int64
 13  runtime_minutes    1631 non-null   float64
 14  genres             1659 non-null   object
 15  averagerating      1665 non-null   float64
 16  numvotes           1665 non-null   int64
 17  studio             1665 non-null   object
 18  year               1665 non-null   int64
 19  id_y               1665 non-null   int64
 20  release_date_y     1665 non-null   object
 21  production_budget  1665 non-null   object
 22  domestic_gross     1665 non-null   object
 23  worldwide_gross    1665 non-null   object
dtypes: float64(4), int64(7), object(13)
memory usage: 325.2+ KB

In [12]:
master_unclean['vote_count'].describe()

count     1665.000000
mean      2162.216216
std       2876.171747
min          1.000000
25%        353.000000
50%       1098.000000
75%       2715.000000
max      22186.000000
Name: vote_count, dtype: float64

In [13]:
run_time = master_unclean.loc[(master_unclean['runtime_minutes'] > 30) & (master_unclean['runtime_minutes'] < 180)]
run_time

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,...,genres,averagerating,numvotes,studio,year,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,"Action,Adventure,Animation",8.1,611299,P/DW,2010,30,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010,15,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010,38,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,"Adventure,Animation,Comedy",8.3,682218,BV,2010,47,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,"Animation,Comedy,Family",7.7,464511,Uni.,2010,50,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,24089,"[Drama, History, Thriller]",453201,en,The 15:17 to Paris,11.576,20Drama-02-09,The 15:17 to Paris,5.3,799,...,"Biography,Drama,Thriller",5.2,21880,WB,2018,23,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,24120,[Comedy],474335,en,Uncle Drew,10.836,20Drama-06-29,Uncle Drew,6.5,220,...,"Comedy,Sport",5.7,9739,LG/S,2018,85,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,24168,"[Crime, Drama, History, Thriller]",339103,en,Gotti,10.034,20Drama-06-15,Gotti,5.2,231,...,"Biography,Crime,Drama",4.8,10358,VE,2018,64,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,24212,"[Thriller, Action, Crime]",442064,en,Proud Mary,9.371,20Drama-01-Adventure,Proud Mary,5.5,259,...,"Action,Crime,Drama",4.9,6805,SGem,2018,50,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,"Action,Adventure,Animation",8.0,16854,VE,2018,100,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [14]:
less_columns = master_unclean.drop(['Unnamed: 0', 'id_x', 'original_title', 'tconst', 'start_year', 'id_y', 'genres', 'release_date_x', 'primary_title'], axis = 1)

In [15]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,year,release_date_y,production_budget,domestic_gross,worldwide_gross
0,"[Fantasy, Adventure, Animation, Family]",en,28.734,How to Train Your Dragon,7.7,7610,98.0,8.1,611299,P/DW,2010,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,"[Adventure, Action, Science Fiction]",en,28.515,Iron Man 2,6.8,12368,124.0,7.0,657690,Par.,2010,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,"[Action, Science Fiction, Adventure]",en,27.920,Inception,8.3,22186,148.0,8.8,1841066,WB,2010,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,"[Animation, Family, Comedy]",en,24.445,Toy Story 3,7.7,8340,103.0,8.3,682218,BV,2010,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,"[Animation, Family, Comedy]",en,23.673,Despicable Me,7.2,10057,95.0,7.7,464511,Uni.,2010,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,2018,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,2018,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,2018,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,2018,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,2018,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [16]:
less_columns=less_columns.loc[less_columns['year'] >= 2016]

In [17]:
less_columns=less_columns.drop(['year'], axis=1)

In [18]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross
195,"[Comedy, Animation]",en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
196,"[Mystery, Thriller, Horror]",en,24.739,Get Out,7.5,8760,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
435,"[Action, Animation]",en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
436,"[Action, Adventure, Fantasy, Science Fiction]",en,44.140,Black Panther,7.4,12365,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
438,[Comedy],en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017","$42,000,000","$45,852,178","$57,852,177"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [19]:
#clean up budget and gross numbers, add the return on investment column
less_columns['production_budget'] = less_columns['production_budget'].str.replace(',', '')
less_columns['production_budget'] = less_columns['production_budget'].str.replace('$', '')
less_columns['production_budget'] = less_columns['production_budget'].astype(int)
less_columns['domestic_gross'] = less_columns['domestic_gross'].str.replace(',', '').str.replace('$', '')
less_columns['domestic_gross'] = less_columns['domestic_gross'].astype(int)
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].str.replace(',', '').str.replace('$', '')
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].astype(int)
less_columns['total_gross'] = less_columns['domestic_gross'] + less_columns['worldwide_gross']
less_columns['ROI'] = (less_columns['total_gross'] / less_columns['production_budget']) * 100

In [20]:
less_columns.groupby(['studio'], sort = True).max()

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI
studio,,,,,,,,,,,,,,,
A24,"[Horror, Mystery, Thriller]",en,26.185,The Florida Project,7.4,3866,163.0,7.6,177677,"Sep 30, 2016",10000000,48958273,78610769,127569042,4364.580000
Affirm,[History],en,12.005,"Paul, Apostle of Christ",7.1,98,108.0,6.7,5662,"Mar 23, 2018",5000000,17547999,25529498,43077497,861.549940
Amazon,"[Horror, Fantasy]",en,16.925,Suspiria,7.0,752,152.0,6.8,37360,"Oct 26, 2018",20000000,2483472,7034615,9518087,47.590435
Annapurna,"[Thriller, Science Fiction, Action, Adventure]",en,20.125,Vice,7.2,1213,132.0,7.2,72855,"Dec 25, 2018",60000000,47836282,70883171,118719453,289.791167
BBC,"[Music, Documentary]",fr,0.600,They Will Have to Kill Us First,5.0,1,100.0,7.3,112,"Mar 4, 2016",600000,0,7943,7943,1.323833
BG,"[Thriller, Horror, Mystery]",en,11.787,Wish Upon,6.6,2005,127.0,7.0,72359,"Jun 24, 2016",47500000,15436808,23477345,37778850,314.823750
BH Tilt,"[Horror, Thriller]",en,21.413,Upgrade,7.4,1326,100.0,8.8,104978,"May 13, 2016",5000000,11977130,16553285,28530415,2530.133300
BST,"[Horror, Thriller]",en,16.316,Unsane,7.1,1627,141.0,7.4,105966,"Sep 30, 2016",30000000,27778642,44264271,72042913,1462.331667
BV,"[Fantasy, Family, Comedy]",en,80.773,Zootopia,8.3,14000,149.0,8.5,670926,"Sep 23, 2016",300000000,700059566,2048134200,2726949682,1024.158895
Cleopatra,"[Drama, Family, Comedy]",en,7.120,A Street Cat Named Bob,7.5,500,103.0,7.4,23204,"Nov 18, 2016",8000000,82703,17382693,17465396,218.317450
Cohen,"[Drama, Thriller, War]",en,7.692,Churchill,6.1,150,105.0,6.3,12047,"Jun 2, 2017",10000000,1279681,7582196,8861877,88.618770
Drft.,[Thriller],en,10.424,The Invitation,6.5,1063,100.0,6.7,70213,"Apr 8, 2016",1000000,231738,354836,586574,58.657400
EC,"[Drama, Thriller]",en,12.215,Shut In,7.4,912,132.0,7.5,52788,"Nov 25, 2016",18000000,6900335,11360665,18261000,182.610000
ENTMP,[Thriller],en,13.335,The Hurricane Heist,5.5,777,106.0,5.3,21704,"Sep 22, 2017",40000000,6115824,30963684,37079508,152.221343
EOne,"[Adventure, Animation, Fantasy, Family]",en,8.512,The Little Prince,7.6,1493,93.0,8.3,6,"Feb 12, 2016",77500000,1311213,102028919,103340132,133.342106
Focus,"[Romance, Drama]",th,32.624,The Young Messiah,7.7,4192,135.0,7.8,205240,"Nov 4, 2016",60000000,62524260,195194085,257718345,948.617833
Fox,"[Thriller, Horror]",en,39.293,X-Men: Apocalypse,8.2,20175,144.0,8.0,820847,"Sep 22, 2017",178000000,363070709,894985342,1164096302,2020.524875
FoxS,"[Drama, History, Comedy]",en,28.651,"Three Billboards Outside Ebbing, Missouri",8.2,7224,126.0,8.2,344047,"Sep 22, 2017",25000000,63859435,195790794,259650229,1789.213792
Global Road,"[Thriller, Science Fiction, Action]",en,14.585,Hotel Artemis,5.9,471,94.0,6.1,30586,"Jun 8, 2018",15000000,6708137,12758799,19466936,129.779573
GrtIndia,"[Action, Drama]",te,10.406,Baahubali 2: The Conclusion,7.0,252,167.0,8.3,65656,"Apr 28, 2017",30000000,18985794,263502914,282488708,941.629027
IFC,"[War, Documentary]",fr,8.760,The Man Who Knew Infinity,7.2,699,112.0,7.9,43575,"Jun 8, 2001",80000000,38311134,98341932,136653066,170.816332
LG/S,"[Drama, Music]",en,25.805,Uncle Drew,7.9,10028,139.0,8.0,436070,"Sep 30, 2016",156000000,151101803,426351163,577452966,2887.264830
LGF,"[Thriller, Horror]",en,24.074,Wonder,10.0,6608,139.0,8.6,366904,"Sep 28, 2018",63000000,132422809,304604712,437027521,2185.137605
MGM,[Drama],en,26.907,Creed II,6.7,2236,130.0,7.2,72503,"Nov 21, 2018",50000000,115715889,213591522,329307411,658.614822
Magn.,[Drama],en,9.396,The Square,7.8,606,151.0,7.2,44239,"Oct 25, 2013",1900000,406216,740932,1147148,60.376211
Neon,[Drama],en,15.407,"I, Tonya",7.5,2904,120.0,7.5,141668,"Dec 8, 2017",11000000,30014534,53797409,83811943,761.926755
ORF,"[Thriller, Action]",en,14.584,Triple 9,7.1,2427,134.0,7.3,119149,"Sep 8, 2017",50000000,28370522,57438389,85808911,676.000300
Orch.,"[Adventure, Comedy, Drama]",en,12.545,Hunt for the Wilderpeople,7.8,915,101.0,7.9,87532,"Jun 24, 2016",2500000,5205471,23845533,29051004,1162.040160
PNT,"[Action, Comedy]",es,1.927,Compadres,5.1,21,101.0,4.7,876,"Apr 22, 2016",3000000,3127773,7445044,10572817,352.427233
Par.,"[War, Comedy]",en,43.078,Zoolander 2,10.0,10387,154.0,7.9,515483,"Oct 21, 2016",217000000,188024361,602893340,733062023,3607.388420
RAtt.,"[Thriller, War, Drama]",en,16.638,The Wall,7.5,3176,165.0,9.2,214557,"Sep 22, 2017",35000000,47695371,77733867,125429238,1475.638094
RLJ,[Drama],en,16.240,Mandy,6.2,618,121.0,6.6,44378,"Sep 14, 2018",6000000,1214525,1427656,2642181,44.036350
Rela.,"[Drama, Horror, Thriller]",en,6.324,The Disappointments Room,4.4,272,85.0,3.9,8167,"Sep 9, 2016",15000000,2423467,3503761,5927228,39.514853
SGem,"[Thriller, Action, Crime]",en,20.263,When the Bough Breaks,5.9,2318,108.0,6.1,74979,"Sep 9, 2016",40000000,30564825,314101190,340945882,960.359350
SPC,"[Comedy, Drama]",en,7.725,The Meddler,5.8,186,103.0,6.3,10629,"Apr 22, 2016",3200000,4267219,5526942,9794161,306.067531
STX,"[Thriller, Romance, Adventure]",en,32.476,Valerian and the City of a Thousand Planets,7.2,4149,140.0,7.3,139792,"Sep 7, 2018",180000000,113257297,215098356,294256013,1471.280065
Sony,"[Thriller, Action, Crime]",en,46.775,The Star,7.4,11585,133.0,7.5,426302,"Oct 28, 2016",175000000,404508916,964496193,1369005109,1521.116788
Studio 8,"[Crime, Drama]",en,24.536,White Boy Rick,6.3,1167,116.0,7.7,41882,"Sep 14, 2018",51000000,35851379,99624873,135476252,265.639710
TriS,"[Thriller, Drama]",en,22.895,Money Monster,7.4,8034,113.0,7.6,363977,"May 13, 2016",34000000,107825862,228104185,335930047,1042.337377
Uni.,"[Thriller, Horror]",en,40.095,Welcome to Marwen,8.3,10375,141.0,8.3,400474,"Sep 29, 2017",250000000,417719760,1305772799,1723492559,8628.172320
VE,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,6.8,231,112.0,8.0,16854,"Jun 15, 2018",30000000,4286367,6089100,10375467,103.754670
W/Dim.,"[Horror, Mystery, Thriller, Crime]",en,10.713,Regression,5.5,1065,106.0,5.7,33335,"Oct 30, 2015",20000000,55039,15824374,15879413,79.397065
WB,"[War, Action, Drama]",en,48.571,Wonder Woman,7.6,13533,164.0,8.0,576909,"Sep 9, 2016",300000000,412563408,1146894640,1481956447,1375.442107
WB (NL),"[Thriller, Mystery, Horror]",en,21.245,The House,7.7,10931,135.0,8.6,359123,"Sep 8, 2017",50000000,327481748,697457969,1024939717,4321.506900
Wein.,"[Drama, Romance]",en,17.216,Tulip Fever,8.1,3833,143.0,8.1,181601,"Sep 1, 2017",25000000,51739495,149570720,201310215,1677.585125

In [41]:
#drop duplicates
less_columns=less_columns.drop_duplicates(['title','release_date_y'])

In [42]:
exploded = less_columns.explode('genre_ids', ignore_index=False)

In [43]:
exploded.reset_index()

,index,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI
0,195,Comedy,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320
1,195,Animation,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320
2,435,Action,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895
3,435,Animation,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895
4,438,Comedy,en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017",42000000,45852178,57852177,103704355,246.915131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
823,1663,Action,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257
824,1663,Crime,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257
825,1664,Action,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573
826,1664,Adventure,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573
827,1664,Animation,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573

In [44]:
exploded['release_date_y'].values[0][0:3]

'Feb'

In [45]:
exploded['month'] = exploded['release_date_y'].str[0:3]

In [46]:
exploded

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,month
195,Comedy,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,Feb
195,Animation,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,Feb
435,Action,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895,Feb
435,Animation,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895,Feb
438,Comedy,en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017",42000000,45852178,57852177,103704355,246.915131,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,Action,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257,Jan
1663,Crime,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257,Jan
1664,Action,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb
1664,Adventure,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb
1664,Animation,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb

In [47]:
month = exploded['month']

In [48]:
month.value_counts().index

Index(['Jun', 'Nov', 'Dec', 'Jul', 'Feb', 'Mar', 'Aug', 'Sep', 'Jan', 'Oct',
       'Apr', 'May'],
      dtype='object')

In [49]:
exploded['genre_ids'].value_counts

<bound method IndexOpsMixin.value_counts of 195        Comedy
195     Animation
435        Action
435     Animation
438        Comedy
          ...
1663       Action
1663        Crime
1664       Action
1664    Adventure
1664    Animation
Name: genre_ids, Length: 828, dtype: object>

In [50]:
exploded

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,month
195,Comedy,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,Feb
195,Animation,en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,Feb
435,Action,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895,Feb
435,Animation,en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018",200000000,700059566,1348258224,2048317790,1024.158895,Feb
438,Comedy,en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017",42000000,45852178,57852177,103704355,246.915131,May
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,Action,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257,Jan
1663,Crime,en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018",30000000,20868638,21709539,42578177,141.927257,Jan
1664,Action,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb
1664,Adventure,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb
1664,Animation,en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018",30000000,490973,648599,1139572,3.798573,Feb

In [51]:
month_genre_roi_title = exploded.drop(['original_language', 'popularity', 'vote_average', 'vote_count',\
                                      'runtime_minutes', 'averagerating', 'numvotes', 'studio', \
                                      'production_budget', 'domestic_gross', 'worldwide_gross',\
                                      'total_gross'], axis=1)

In [52]:
month_genre_roi_title

      genre_ids                       title release_date_y          ROI month
195      Comedy                     Get Out   Feb 24, 2017  8628.172320   Feb
195   Animation                     Get Out   Feb 24, 2017  8628.172320   Feb
435      Action               Black Panther   Feb 16, 2018  1024.158895   Feb
435   Animation               Black Panther   Feb 16, 2018  1024.158895   Feb
438      Comedy                    Snatched   May 12, 2017   246.915131   May
...         ...                         ...            ...          ...   ...
1663     Action                  Proud Mary   Jan 12, 2018   141.927257   Jan
1663      Crime                  Proud Mary   Jan 12, 2018   141.927257   Jan
1664     Action  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573   Feb
1664  Adventure  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573   Feb
1664  Animation  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573   Feb

[828 rows x 5 columns]

In [53]:
#dictionary of months and number
month_to_number={'Jan': 1,'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [55]:
#map month to number in dataframe month_genre_roi_title
month_genre_roi_title['month']=month_genre_roi_title['month'].map(month_to_number)

In [56]:
month_genre_roi_title

      genre_ids                       title release_date_y          ROI  month
195      Comedy                     Get Out   Feb 24, 2017  8628.172320      2
195   Animation                     Get Out   Feb 24, 2017  8628.172320      2
435      Action               Black Panther   Feb 16, 2018  1024.158895      2
435   Animation               Black Panther   Feb 16, 2018  1024.158895      2
438      Comedy                    Snatched   May 12, 2017   246.915131      5
...         ...                         ...            ...          ...    ...
1663     Action                  Proud Mary   Jan 12, 2018   141.927257      1
1663      Crime                  Proud Mary   Jan 12, 2018   141.927257      1
1664     Action  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573      2
1664  Adventure  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573      2
1664  Animation  Bilal: A New Breed of Hero    Feb 2, 2018     3.798573      2

[828 rows x 5 columns]

In [57]:
month_genre_roi_title.groupby(['month','genre_ids']).mean()

                              ROI
month genre_ids
1     Action           347.741366
      Adventure        373.845040
      Animation        368.334166
      Comedy           541.855830
      Crime            279.428650
...                           ...
12    Horror           283.416200
      Music            645.853204
      Romance          957.069853
      Science Fiction  298.229848
      Thriller         187.757708

[176 rows x 1 columns]

In [58]:
month_genre_roi_title.groupby(['genre_ids','month']).sum()

                         ROI
genre_ids month
Action    1      3825.155029
          2      3628.982861
          3      1764.082091
          4      4440.388070
          5      3152.117358
...                      ...
War       6       176.713346
          7       878.668960
          11      740.629823
Western   1        21.140552
          8       811.872653

[176 rows x 1 columns]

In [59]:
month_genre_roi_title['genre_ids'].value_counts()

Drama              135
Comedy             107
Action              93
Thriller            80
Adventure           75
Science Fiction     43
Fantasy             43
Horror              42
Family              41
Crime               35
Animation           32
Mystery             27
Romance             26
History             25
War                  9
Music                6
Documentary          6
Western              3
Name: genre_ids, dtype: int64

In [60]:
groupedby=month_genre_roi_title.groupby(['genre_ids','month']).sum()

In [61]:
groupedby

                         ROI
genre_ids month
Action    1      3825.155029
          2      3628.982861
          3      1764.082091
          4      4440.388070
          5      3152.117358
...                      ...
War       6       176.713346
          7       878.668960
          11      740.629823
Western   1        21.140552
          8       811.872653

[176 rows x 1 columns]

In [39]:
groupedby['ROI']

genre_ids  month
Action     Apr      20044.771956
           Aug       2238.727518
           Dec       5543.123434
           Feb       4932.767529
           Jan       3825.155029
                        ...
War        Mar        554.593842
           May        629.832600
           Nov       1481.259645
Western    Aug        811.872653
           Jan         21.140552
Name: ROI, Length: 178, dtype: float64