In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz') #Michael's from Rotten Tomatos 
movie_studios = pd.read_csv('zippedData/bom.movie_gross.csv.gz')     #Teigen's from Box Office Mojo 
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')    #Louis' from basics IMDB
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')  #Louis' ratings from IMDB
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')                  #Ely's from TMDB

In [15]:
#Ely's innitial cleaning TMDB 
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

tmdb = tmdb.replace(pd.Series(genres).astype(str), regex=True)
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')

In [16]:
#IMDB merge
title_master = title_basics.merge(title_ratings, how='inner')

In [17]:
louis_and_ely = tmdb.merge(title_master, how = 'inner')
louis_and_ely

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,0,"[Adventure, Fantasy, Family]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,tt0926084,Harry Potter and the Deathly Hallows: Part 1,2010,146.0,"Adventure,Fantasy,Mystery",7.7,425530
1,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
2,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
3,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
4,5,"[Adventure, Fantasy, Family]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,tt0814255,Percy Jackson & the Olympians: The Lightning T...,2010,118.0,"Adventure,Family,Fantasy",5.9,165108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17800,26509,[Horror],502255,en,Closing Time,0.600,20Drama-02-24,Closing Time,0.0,1,tt8731118,Closing Time,2018,116.0,Documentary,6.4,51
17801,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt2962488,The Last One,2014,80.0,"Documentary,History,News",7.0,26
17802,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt3118968,The Last One,2018,85.0,"Action,Adventure,Fantasy",6.1,15
17803,26515,"[Family, Adventure, Action]",366854,en,Trailer Made,0.600,20Drama-06-22,Trailer Made,0.0,1,tt3377456,Trailer Made,2016,79.0,Adventure,4.3,25
17804,26516,"[Thriller, Horror]",309885,en,The Church,0.600,20Drama-10-05,The Church,0.0,1,tt2482856,The Church,2018,81.0,"Horror,Thriller",5.7,19

In [18]:
louis_and_ely_and_teigen = louis_and_ely.merge(movie_studios, how = 'inner')

In [19]:
louis_and_ely_and_teigen

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,217600000.0,277300000,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,312400000.0,311500000,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,292600000.0,535700000,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,415000000.0,652000000,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,251500000.0,291600000,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,...,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,120000.0,NaN,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,...,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,73300.0,NaN,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,...,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,1300000.0,NaN,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,491000.0,1700000,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,...,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2800000.0,NaN,2018

In [20]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [21]:
master_unclean = let.merge(movie_budgets_df, how = 'outer')
master_unclean.tail(50)

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,...,runtime_minutes,genres,averagerating,numvotes,studio,year,movie,production_budget,domestic_gross,worldwide_gross
8568,NaN,NaN,32,NaN,NaN,NaN,"Feb 11, 2011",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Raymond Did It,"$40,000","$3,632","$3,632"
8569,NaN,NaN,33,NaN,NaN,NaN,"Mar 31, 2012",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Foreign Letters,"$40,000",$0,$0
8570,NaN,NaN,34,NaN,NaN,NaN,"Jul 1, 1991",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Last Waltz,"$35,000","$321,952","$322,563"
8571,NaN,NaN,35,NaN,NaN,NaN,"Oct 25, 2013",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Her Cry: La Llorona Investigation,"$35,000",$0,$0
8572,NaN,NaN,36,NaN,NaN,NaN,"Dec 31, 2014",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Happy 40th,"$35,000",$0,$0
8573,NaN,NaN,37,NaN,NaN,NaN,"Jul 18, 2008",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Legend of God's Gun,"$30,000","$243,768","$243,768"
8574,NaN,NaN,38,NaN,NaN,NaN,"Mar 18, 2016",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Krisha,"$30,000","$144,822","$144,822"
8575,NaN,NaN,39,NaN,NaN,NaN,"Sep 1, 2006",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Mutual Appreciation,"$30,000","$103,509","$103,509"
8576,NaN,NaN,40,NaN,NaN,NaN,"Apr 29, 2005",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Funny Ha Ha,"$30,000","$77,070","$82,698"
8577,NaN,NaN,41,NaN,NaN,NaN,"Oct 15, 2010",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Down Terrace,"$30,000","$9,812","$9,812"
8578,NaN,NaN,42,NaN,NaN,NaN,"Dec 31, 2013",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Paraphobia,"$30,000",$0,$0
8579,NaN,NaN,43,NaN,NaN,NaN,"Oct 19, 1994",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Clerks,"$27,000","$3,073,428","$3,894,240"
8580,NaN,NaN,44,NaN,NaN,NaN,"Dec 24, 1999",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Pink Narcissus,"$27,000","$8,231","$8,231"
8581,NaN,NaN,45,NaN,NaN,NaN,"Jan 27, 2017",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Emily,"$27,000","$3,547","$3,547"
8582,NaN,NaN,46,NaN,NaN,NaN,"Jun 30, 1972",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Deep Throat,"$25,000","$45,000,000","$45,000,000"
8583,NaN,NaN,47,NaN,NaN,NaN,"Aug 1, 1997",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,In the Company of Men,"$25,000","$2,883,661","$2,883,661"
8584,NaN,NaN,48,NaN,NaN,NaN,"Jan 14, 2000",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Terrorist,"$25,000","$195,043","$195,043"
8585,NaN,NaN,49,NaN,NaN,NaN,"Sep 1, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Exeter,"$25,000",$0,"$489,792"
8586,NaN,NaN,50,NaN,NaN,NaN,"Jun 13, 2003",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Manito,"$25,000",$0,$0
8587,NaN,NaN,51,NaN,NaN,NaN,"Apr 21, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Ten,"$25,000",$0,$0
8588,NaN,NaN,52,NaN,NaN,NaN,"Dec 1, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Dutch Kills,"$25,000",$0,$0
8589,NaN,NaN,53,NaN,NaN,NaN,"Aug 1, 1991",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Slacker,"$23,000","$1,227,508","$1,227,508"
8590,NaN,NaN,54,NaN,NaN,NaN,"Dec 31, 2014",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Dry Spell,"$22,000",$0,$0
8591,NaN,NaN,55,NaN,NaN,NaN,"Dec 31, 2003",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Flywheel,"$20,000",$0,$0
8592,NaN,NaN,56,NaN,NaN,NaN,"Jan 4, 2013",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,All Superheroes Must Die,"$20,000",$0,$0
8593,NaN,NaN,57,NaN,NaN,NaN,"Apr 21, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Front Man,"$20,000",$0,$0
8594,NaN,NaN,58,NaN,NaN,NaN,"Dec 1, 2003",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Steel Spirit,"$20,000",$0,$0
8595,NaN,NaN,59,NaN,NaN,NaN,"Nov 25, 2011",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Ridges,"$17,300",$0,$0
8596,NaN,NaN,60,NaN,NaN,NaN,"Jun 2, 2006",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Puffy Chair,"$15,000","$194,523","$195,254"
8597,NaN,NaN,61,NaN,NaN,NaN,"Apr 2, 2010",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Breaking Upwards,"$15,000","$115,592","$115,592"
8598,NaN,NaN,62,NaN,NaN,NaN,"Dec 31, 2014",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Stories of Our Lives,"$15,000",$0,$0
8599,NaN,NaN,63,NaN,NaN,NaN,"Apr 11, 1997",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Pink Flamingos,"$12,000","$413,802","$413,802"
8600,NaN,NaN,64,NaN,NaN,NaN,"Apr 28, 2006",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Grip: A Criminal's Story,"$12,000","$1,336","$1,336"
8601,NaN,NaN,66,NaN,NaN,NaN,"Mar 9, 2001",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Dayereh,"$10,000","$673,780","$673,780"
8602,NaN,NaN,67,NaN,NaN,NaN,"Apr 28, 2006",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Clean,"$10,000","$138,711","$138,711"
8603,NaN,NaN,68,NaN,NaN,NaN,"Jul 6, 2001",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cure,"$10,000","$94,596","$94,596"
8604,NaN,NaN,69,NaN,NaN,NaN,"May 28, 2004",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,On the Downlow,"$10,000","$1,987","$1,987"
8605,NaN,NaN,70,NaN,NaN,NaN,"Apr 1, 1996",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Bang,"$10,000",$527,$527
8606,NaN,NaN,71,NaN,NaN,NaN,"Aug 14, 2008",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Rise and Fall of Miss Thang,"$10,000",$401,$401
8607,NaN,NaN,72,NaN,NaN,NaN,"May 19, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Family Motocross,"$10,000",$0,$0
8608,NaN,NaN,73,NaN,NaN,NaN,"Jan 13, 2012",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Newlyweds,"$9,000","$4,584","$4,584"
8609,NaN,NaN,74,NaN,NaN,NaN,"Feb 26, 1993",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,El Mariachi,"$7,000","$2,040,920","$2,041,928"
8610,NaN,NaN,75,NaN,NaN,NaN,"Oct 8, 2004",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Primer,"$7,000","$424,760","$841,926"
8611,NaN,NaN,76,NaN,NaN,NaN,"May 26, 2006",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Cavite,"$7,000","$70,071","$71,644"
8612,NaN,NaN,77,NaN,NaN,NaN,"Dec 31, 2004",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,The Mongol King,"$7,000",$900,$900
8613,NaN,NaN,78,NaN,NaN,NaN,"Dec 31, 2018",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Red 11,"$7,000",$0,$0
8614,NaN,NaN,79,NaN,NaN,NaN,"Apr 2, 1999",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Following,"$6,000","$48,482","$240,495"
8615,NaN,NaN,80,NaN,NaN,NaN,"Jul 13, 2005",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
8616,NaN,NaN,81,NaN,NaN,NaN,"Sep 29, 2015",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,A Plague So Pleasant,"$1,400",$0,$0
8617,NaN,NaN,82,NaN,NaN,NaN,"Aug 5, 2005",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,My Date With Drew,"$1,100","$181,041","$181,041"

In [22]:
master_unclean['vote_count'].describe()

count     2836.000000
mean      1412.928420
std       2429.018303
min          1.000000
25%         81.000000
50%        439.500000
75%       1617.000000
max      22186.000000
Name: vote_count, dtype: float64

In [23]:
#master_votes = master_unclean.drop()
#over_500 = master_unclean.loc[master_unclean['vote_count'] > 500]

In [24]:
#over_500.shape

In [25]:
run_time = master_unclean.loc[(master_unclean['runtime_minutes'] > 30) & (master_unclean['runtime_minutes'] < 180)]

In [26]:
run_time.shape

(2781, 23)

In [27]:
run_time.columns

Index(['Unnamed: 0', 'genre_ids', 'id', 'original_language', 'original_title',
       'popularity', 'release_date', 'title', 'vote_average', 'vote_count',
       'tconst', 'primary_title', 'start_year', 'runtime_minutes', 'genres',
       'averagerating', 'numvotes', 'studio', 'year', 'movie',
       'production_budget', 'domestic_gross', 'worldwide_gross'],
      dtype='object')

In [28]:
quasi_cleaned = run_time.drop(['tconst', 'Unnamed: 0', 'original_title', 'primary_title', 'start_year'], axis = 1)

In [29]:
within_year = quasi_cleaned.loc[quasi_cleaned['year'] >= 2016]

In [30]:
within_year['production_budget'].value_counts

<bound method IndexOpsMixin.value_counts of 113     NaN
114     NaN
115     NaN
116     NaN
265     NaN
       ...
2831    NaN
2832    NaN
2833    NaN
2834    NaN
2835    NaN
Name: production_budget, Length: 943, dtype: object>