In [77]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [78]:
movie_budgets_df = pd.read_csv('tn.movie_budgets.csv.gz') #Michael's from Rotten Tomatos 
movie_studios = pd.read_csv('bom.movie_gross.csv.gz')     #Teigen's from Box Office Mojo 
title_basics = pd.read_csv('imdb.title.basics.csv.gz')    #Louis' from basics IMDB
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')  #Louis' ratings from IMDB
tmdb = pd.read_csv('tmdb.movies.csv.gz')                  #Ely's from TMDB

In [79]:
movie_info_dataframe = pd.read_table('rt.movie_info.tsv.gz')

In [80]:
#Ely's innitial cleaning TMDB 
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

tmdb = tmdb.replace(pd.Series(genres).astype(str), regex=True)
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')

In [81]:
#IMDB merge
title_master = title_basics.merge(title_ratings, how='inner')

In [82]:
louis_and_ely = tmdb.merge(title_master, how = 'inner')

In [83]:
louis_and_ely_and_teigen = louis_and_ely.merge(movie_studios, how = 'inner')

In [84]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)

In [85]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)

In [86]:
movie_budgets_df = movie_budgets_df.rename(columns={'movie':'title'})

In [87]:
master_unclean = let.merge(movie_budgets_df, on = 'title', how = 'inner')

In [88]:
master_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1665 non-null   int64
 1   genre_ids          1665 non-null   object
 2   id_x               1665 non-null   int64
 3   original_language  1665 non-null   object
 4   original_title     1665 non-null   object
 5   popularity         1665 non-null   float64
 6   release_date_x     1665 non-null   object
 7   title              1665 non-null   object
 8   vote_average       1665 non-null   float64
 9   vote_count         1665 non-null   int64
 10  tconst             1665 non-null   object
 11  primary_title      1665 non-null   object
 12  start_year         1665 non-null   int64
 13  runtime_minutes    1631 non-null   float64
 14  genres             1659 non-null   object
 15  averagerating      1665 non-null   float64
 16  numvotes           1665 non-null   int64
 17  studio             1665 non-null   object
 18  year               1665 non-null   int64
 19  id_y               1665 non-null   int64
 20  release_date_y     1665 non-null   object
 21  production_budget  1665 non-null   object
 22  domestic_gross     1665 non-null   object
 23  worldwide_gross    1665 non-null   object
dtypes: float64(4), int64(7), object(13)
memory usage: 325.2+ KB

In [89]:
master_unclean['vote_count'].describe()

count     1665.000000
mean      2162.216216
std       2876.171747
min          1.000000
25%        353.000000
50%       1098.000000
75%       2715.000000
max      22186.000000
Name: vote_count, dtype: float64

In [90]:
run_time = master_unclean.loc[(master_unclean['runtime_minutes'] > 30) & (master_unclean['runtime_minutes'] < 180)]

In [91]:
less_columns = master_unclean.drop(['Unnamed: 0', 'id_x', 'original_title', 'tconst', 'start_year', 'id_y', 'genres', 'release_date_x', 'primary_title'], axis = 1)

In [92]:
less_columns.shape

(1665, 15)

In [93]:
less_columns=less_columns.loc[less_columns['year'] >= 2014]

In [94]:
less_columns.shape

(982, 15)

In [95]:
less_columns=less_columns.drop(['year'], axis=1)

In [96]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross
169,"[Drama, Mystery, Romance]",en,6.824,Shanghai,6.1,80,105.0,6.4,8662,Wein.,"Oct 2, 2015","$50,000,000","$46,425","$15,505,922"
170,"[Drama, Mystery, Romance]",en,6.824,Shanghai,6.1,80,120.0,7.2,9047,Wein.,"Oct 2, 2015","$50,000,000","$46,425","$15,505,922"
193,[Science Fiction],en,2.172,Pixels,7.1,35,105.0,5.6,119789,Sony,"Jul 24, 2015","$90,000,000","$78,765,986","$244,041,804"
194,"[Action, Comedy, Science Fiction]",en,23.029,Pixels,5.6,4423,105.0,5.6,119789,Sony,"Jul 24, 2015","$90,000,000","$78,765,986","$244,041,804"
195,"[Comedy, Animation]",en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [97]:
#clean up budget and gross numbers, add the return on investment column
less_columns['production_budget'] = less_columns['production_budget'].str.replace(',', '')
less_columns['production_budget'] = less_columns['production_budget'].str.replace('$', '')
less_columns['production_budget'] = less_columns['production_budget'].astype(int)
less_columns['domestic_gross'] = less_columns['domestic_gross'].str.replace(',', '').str.replace('$', '')
less_columns['domestic_gross'] = less_columns['domestic_gross'].astype(int)
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].str.replace(',', '').str.replace('$', '')
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].astype(int)
less_columns['total_gross'] = less_columns['domestic_gross'] + less_columns['worldwide_gross']
less_columns['ROI'] = (less_columns['total_gross'] / less_columns['production_budget']) * 100

In [113]:
less_columns.shape

(982, 16)

In [114]:
less_columns.head(3)

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI
169,"[Drama, Mystery, Romance]",en,6.824,Shanghai,6.1,80,105.0,6.4,8662,Wein.,"Oct 2, 2015",50000000,46425,15505922,15552347,31.104694
170,"[Drama, Mystery, Romance]",en,6.824,Shanghai,6.1,80,120.0,7.2,9047,Wein.,"Oct 2, 2015",50000000,46425,15505922,15552347,31.104694
193,[Science Fiction],en,2.172,Pixels,7.1,35,105.0,5.6,119789,Sony,"Jul 24, 2015",90000000,78765986,244041804,322807790,358.675322

In [100]:
less_columns.corr()

,popularity,vote_average,vote_count,runtime_minutes,averagerating,numvotes,production_budget,domestic_gross,worldwide_gross,total_gross,ROI
popularity,1.000000,0.314026,0.705657,0.278883,0.259646,0.552173,0.556295,0.474752,0.542323,0.529690,-0.041226
vote_average,0.314026,1.000000,0.376369,0.219007,0.477633,0.335867,0.145070,0.190484,0.195435,0.196300,-0.055620
vote_count,0.705657,0.376369,1.000000,0.252893,0.325207,0.778193,0.574085,0.665014,0.702411,0.700046,0.048027
runtime_minutes,0.278883,0.219007,0.252893,1.000000,0.281240,0.425108,0.238745,0.130989,0.181288,0.169319,-0.082851
averagerating,0.259646,0.477633,0.325207,0.281240,1.000000,0.447844,0.154546,0.184355,0.194293,0.193752,-0.106495
numvotes,0.552173,0.335867,0.778193,0.425108,0.447844,1.000000,0.494681,0.553210,0.580764,0.579748,0.017424
production_budget,0.556295,0.145070,0.574085,0.238745,0.154546,0.494681,1.000000,0.690456,0.792134,0.772850,-0.116885
domestic_gross,0.474752,0.190484,0.665014,0.130989,0.184355,0.553210,0.690456,1.000000,0.943432,0.970081,0.122116
worldwide_gross,0.542323,0.195435,0.702411,0.181288,0.194293,0.580764,0.792134,0.943432,1.000000,0.995704,0.079452
total_gross,0.529690,0.196300,0.700046,0.169319,0.193752,0.579748,0.772850,0.970081,0.995704,1.000000,0.092281
ROI,-0.041226,-0.055620,0.048027,-0.082851,-0.106495,0.017424,-0.116885,0.122116,0.079452,0.092281,1.000000

In [101]:
average_rating = less_columns['averagerating']
movie_popularity = less_columns['popularity']

In [102]:
average_rating.corr(movie_popularity)

0.2596463404361075

In [110]:
less_columns['title'].value_counts()

Eden                          42
Legend                        30
Split                         24
Truth or Dare                 20
Nerve                         12
                              ..
A Haunted House 2              1
If Beale Street Could Talk     1
On the Basis of Sex            1
3 Days to Kill                 1
The Perfect Guy                1
Name: title, Length: 574, dtype: int64

In [135]:
combined_df = pd.merge(less_columns, movie_info_dataframe, how='inner')

In [134]:
movie_info_dataframe.head(2)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One

In [136]:
combined_df.shape

(209, 27)

In [133]:
combined_df.head(1)

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,...,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime
0,[Comedy],en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,...,"Aging, small town attorney Mac McClain (Matthe...",PG-13,Drama|Mystery and Suspense,Gary Wheeler,Mark Freiburger|Gary Wheeler|Robert Whitlow|Ma...,NaN,NaN,NaN,NaN,101 minutes

In [125]:
combined_df = combined_df.drop(['id', 'synopsis', 'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime'], axis=1)