In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz') #Michael's from Rotten Tomatos 
movie_studios = pd.read_csv('zippedData/bom.movie_gross.csv.gz')     #Teigen's from Box Office Mojo 
title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')    #Louis' from basics IMDB
title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')  #Louis' ratings from IMDB
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')                  #Ely's from TMDB

In [3]:
#Ely's innitial cleaning TMDB 
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

tmdb = tmdb.replace(pd.Series(genres).astype(str), regex=True)
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')

In [4]:
#IMDB merge
title_master = title_basics.merge(title_ratings, how='inner')

In [5]:
louis_and_ely = tmdb.merge(title_master, how = 'inner')
louis_and_ely

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes
0,0,"[Adventure, Fantasy, Family]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788,tt0926084,Harry Potter and the Deathly Hallows: Part 1,2010,146.0,"Adventure,Fantasy,Mystery",7.7,425530
1,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299
2,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690
3,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066
4,5,"[Adventure, Fantasy, Family]",32657,en,Percy Jackson & the Olympians: The Lightning T...,26.691,2010-02-11,Percy Jackson & the Olympians: The Lightning T...,6.1,4229,tt0814255,Percy Jackson & the Olympians: The Lightning T...,2010,118.0,"Adventure,Family,Fantasy",5.9,165108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17800,26509,[Horror],502255,en,Closing Time,0.600,20Drama-02-24,Closing Time,0.0,1,tt8731118,Closing Time,2018,116.0,Documentary,6.4,51
17801,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt2962488,The Last One,2014,80.0,"Documentary,History,News",7.0,26
17802,26514,"[Fantasy, Action, Adventure]",381231,en,The Last One,0.600,20Drama-10-01,The Last One,0.0,1,tt3118968,The Last One,2018,85.0,"Action,Adventure,Fantasy",6.1,15
17803,26515,"[Family, Adventure, Action]",366854,en,Trailer Made,0.600,20Drama-06-22,Trailer Made,0.0,1,tt3377456,Trailer Made,2016,79.0,Adventure,4.3,25
17804,26516,"[Thriller, Horror]",309885,en,The Church,0.600,20Drama-10-05,The Church,0.0,1,tt2482856,The Church,2018,81.0,"Horror,Thriller",5.7,19

In [6]:
louis_and_ely_and_teigen = louis_and_ely.merge(movie_studios, how = 'inner')

In [7]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [8]:
let = louis_and_ely_and_teigen.drop(['domestic_gross', 'foreign_gross'], axis = 1)
let

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count,tconst,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,year
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,tt0892769,How to Train Your Dragon,2010,98.0,"Action,Adventure,Animation",8.1,611299,P/DW,2010
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,tt1228705,Iron Man 2,2010,124.0,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,tt1375666,Inception,2010,148.0,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,tt0435761,Toy Story 3,2010,103.0,"Adventure,Animation,Comedy",8.3,682218,BV,2010
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,tt1323594,Despicable Me,2010,95.0,"Animation,Comedy,Family",7.7,464511,Uni.,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2831,24778,[Drama],484428,sv,Unga Astrid,4.734,20Drama-11-23,Becoming Astrid,7.4,28,tt6433456,Becoming Astrid,2018,123.0,"Biography,Drama",7.2,2497,MBox,2018
2832,24916,[Drama],473262,it,"Nico, 1988",3.789,20Drama-07-04,"Nico, 1988",7.3,40,tt7186092,"Nico, 1988",2017,93.0,"Biography,Drama,Music",6.8,1007,Magn.,2018
2833,25037,[Documentary],465871,en,Maria by Callas,3.184,20Drama-11-02,Maria by Callas,7.6,11,tt7364566,Maria by Callas,2017,119.0,"Biography,Documentary,Music",7.2,867,SPC,2018
2834,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,tt3576728,Bilal: A New Breed of Hero,2015,105.0,"Action,Adventure,Animation",8.0,16854,VE,2018
2835,25189,[Comedy],498919,es,La Boda de Valentina,2.550,20Drama-02-09,La Boda de Valentina,6.3,7,tt4823538,La Boda de Valentina,2018,107.0,"Comedy,Romance",4.7,523,PNT,2018

In [9]:
movie_budgets_df = movie_budgets_df.rename(columns={'movie':'title'})

In [10]:
master_unclean = let.merge(movie_budgets_df, on = 'title', how = 'inner')
master_unclean

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,...,genres,averagerating,numvotes,studio,year,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,"Action,Adventure,Animation",8.1,611299,P/DW,2010,30,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010,15,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010,38,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,"Adventure,Animation,Comedy",8.3,682218,BV,2010,47,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,"Animation,Comedy,Family",7.7,464511,Uni.,2010,50,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,24089,"[Drama, History, Thriller]",453201,en,The 15:17 to Paris,11.576,20Drama-02-09,The 15:17 to Paris,5.3,799,...,"Biography,Drama,Thriller",5.2,21880,WB,2018,23,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,24120,[Comedy],474335,en,Uncle Drew,10.836,20Drama-06-29,Uncle Drew,6.5,220,...,"Comedy,Sport",5.7,9739,LG/S,2018,85,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,24168,"[Crime, Drama, History, Thriller]",339103,en,Gotti,10.034,20Drama-06-15,Gotti,5.2,231,...,"Biography,Crime,Drama",4.8,10358,VE,2018,64,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,24212,"[Thriller, Action, Crime]",442064,en,Proud Mary,9.371,20Drama-01-Adventure,Proud Mary,5.5,259,...,"Action,Crime,Drama",4.9,6805,SGem,2018,50,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,"Action,Adventure,Animation",8.0,16854,VE,2018,100,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [11]:
master_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1665 non-null   int64
 1   genre_ids          1665 non-null   object
 2   id_x               1665 non-null   int64
 3   original_language  1665 non-null   object
 4   original_title     1665 non-null   object
 5   popularity         1665 non-null   float64
 6   release_date_x     1665 non-null   object
 7   title              1665 non-null   object
 8   vote_average       1665 non-null   float64
 9   vote_count         1665 non-null   int64
 10  tconst             1665 non-null   object
 11  primary_title      1665 non-null   object
 12  start_year         1665 non-null   int64
 13  runtime_minutes    1631 non-null   float64
 14  genres             1659 non-null   object
 15  averagerating      1665 non-null   float64
 16  numvotes           1665 non-null   int64
 17  studio             1665 non-null   object
 18  year               1665 non-null   int64
 19  id_y               1665 non-null   int64
 20  release_date_y     1665 non-null   object
 21  production_budget  1665 non-null   object
 22  domestic_gross     1665 non-null   object
 23  worldwide_gross    1665 non-null   object
dtypes: float64(4), int64(7), object(13)
memory usage: 325.2+ KB

In [12]:
master_unclean['vote_count'].describe()

count     1665.000000
mean      2162.216216
std       2876.171747
min          1.000000
25%        353.000000
50%       1098.000000
75%       2715.000000
max      22186.000000
Name: vote_count, dtype: float64

In [13]:
run_time = master_unclean.loc[(master_unclean['runtime_minutes'] > 30) & (master_unclean['runtime_minutes'] < 180)]
run_time

,Unnamed: 0,genre_ids,id_x,original_language,original_title,popularity,release_date_x,title,vote_average,vote_count,...,genres,averagerating,numvotes,studio,year,id_y,release_date_y,production_budget,domestic_gross,worldwide_gross
0,1,"[Fantasy, Adventure, Animation, Family]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610,...,"Action,Adventure,Animation",8.1,611299,P/DW,2010,30,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,2,"[Adventure, Action, Science Fiction]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368,...,"Action,Adventure,Sci-Fi",7.0,657690,Par.,2010,15,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,4,"[Action, Science Fiction, Adventure]",27205,en,Inception,27.920,2010-07-Animation,Inception,8.3,22186,...,"Action,Adventure,Sci-Fi",8.8,1841066,WB,2010,38,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,7,"[Animation, Family, Comedy]",10193,en,Toy Story 3,24.445,2010-06-17,Toy Story 3,7.7,8340,...,"Adventure,Animation,Comedy",8.3,682218,BV,2010,47,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,8,"[Animation, Family, Comedy]",20352,en,Despicable Me,23.673,2010-07-09,Despicable Me,7.2,10057,...,"Animation,Comedy,Family",7.7,464511,Uni.,2010,50,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,24089,"[Drama, History, Thriller]",453201,en,The 15:17 to Paris,11.576,20Drama-02-09,The 15:17 to Paris,5.3,799,...,"Biography,Drama,Thriller",5.2,21880,WB,2018,23,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,24120,[Comedy],474335,en,Uncle Drew,10.836,20Drama-06-29,Uncle Drew,6.5,220,...,"Comedy,Sport",5.7,9739,LG/S,2018,85,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,24168,"[Crime, Drama, History, Thriller]",339103,en,Gotti,10.034,20Drama-06-15,Gotti,5.2,231,...,"Biography,Crime,Drama",4.8,10358,VE,2018,64,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,24212,"[Thriller, Action, Crime]",442064,en,Proud Mary,9.371,20Drama-01-Adventure,Proud Mary,5.5,259,...,"Action,Crime,Drama",4.9,6805,SGem,2018,50,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,25148,"[Action, Adventure, Animation]",332718,en,Bilal: A New Breed of Hero,2.707,20Drama-02-02,Bilal: A New Breed of Hero,6.8,54,...,"Action,Adventure,Animation",8.0,16854,VE,2018,100,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [14]:
less_columns = master_unclean.drop(['Unnamed: 0', 'id_x', 'original_title', 'tconst', 'start_year', 'id_y', 'genres', 'release_date_x', 'primary_title'], axis = 1)

In [15]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,year,release_date_y,production_budget,domestic_gross,worldwide_gross
0,"[Fantasy, Adventure, Animation, Family]",en,28.734,How to Train Your Dragon,7.7,7610,98.0,8.1,611299,P/DW,2010,"Mar 26, 2010","$165,000,000","$217,581,232","$494,870,992"
1,"[Adventure, Action, Science Fiction]",en,28.515,Iron Man 2,6.8,12368,124.0,7.0,657690,Par.,2010,"May 7, 2010","$170,000,000","$312,433,331","$621,156,389"
2,"[Action, Science Fiction, Adventure]",en,27.920,Inception,8.3,22186,148.0,8.8,1841066,WB,2010,"Jul 16, 2010","$160,000,000","$292,576,195","$835,524,642"
3,"[Animation, Family, Comedy]",en,24.445,Toy Story 3,7.7,8340,103.0,8.3,682218,BV,2010,"Jun 18, 2010","$200,000,000","$415,004,880","$1,068,879,522"
4,"[Animation, Family, Comedy]",en,23.673,Despicable Me,7.2,10057,95.0,7.7,464511,Uni.,2010,"Jul 9, 2010","$69,000,000","$251,513,985","$543,464,573"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,2018,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,2018,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,2018,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,2018,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,2018,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [16]:
less_columns=less_columns.loc[less_columns['year'] >= 2016]

In [17]:
less_columns=less_columns.drop(['year'], axis=1)

In [18]:
less_columns

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross
195,"[Comedy, Animation]",en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
196,"[Mystery, Thriller, Horror]",en,24.739,Get Out,7.5,8760,104.0,7.7,400474,Uni.,"Feb 24, 2017","$5,000,000","$176,040,665","$255,367,951"
435,"[Action, Animation]",en,2.058,Black Panther,5.1,11,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
436,"[Action, Adventure, Fantasy, Science Fiction]",en,44.140,Black Panther,7.4,12365,134.0,7.3,516148,BV,"Feb 16, 2018","$200,000,000","$700,059,566","$1,348,258,224"
438,[Comedy],en,0.725,Snatched,3.5,2,81.0,5.5,61,Fox,"May 12, 2017","$42,000,000","$45,852,178","$57,852,177"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1660,"[Drama, History, Thriller]",en,11.576,The 15:17 to Paris,5.3,799,94.0,5.2,21880,WB,"Feb 9, 2018","$30,000,000","$36,276,286","$56,096,200"
1661,[Comedy],en,10.836,Uncle Drew,6.5,220,103.0,5.7,9739,LG/S,"Jun 29, 2018","$18,000,000","$42,469,946","$46,527,161"
1662,"[Crime, Drama, History, Thriller]",en,10.034,Gotti,5.2,231,112.0,4.8,10358,VE,"Jun 15, 2018","$10,000,000","$4,286,367","$6,089,100"
1663,"[Thriller, Action, Crime]",en,9.371,Proud Mary,5.5,259,89.0,4.9,6805,SGem,"Jan 12, 2018","$30,000,000","$20,868,638","$21,709,539"
1664,"[Action, Adventure, Animation]",en,2.707,Bilal: A New Breed of Hero,6.8,54,105.0,8.0,16854,VE,"Feb 2, 2018","$30,000,000","$490,973","$648,599"

In [19]:
#clean up budget and gross numbers, add the return on investment column
less_columns['production_budget'] = less_columns['production_budget'].str.replace(',', '')
less_columns['production_budget'] = less_columns['production_budget'].str.replace('$', '')
less_columns['production_budget'] = less_columns['production_budget'].astype(int)
less_columns['domestic_gross'] = less_columns['domestic_gross'].str.replace(',', '').str.replace('$', '')
less_columns['domestic_gross'] = less_columns['domestic_gross'].astype(int)
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].str.replace(',', '').str.replace('$', '')
less_columns['worldwide_gross'] = less_columns['worldwide_gross'].astype(int)
less_columns['total_gross'] = less_columns['domestic_gross'] + less_columns['worldwide_gross']
less_columns['ROI'] = (less_columns['total_gross'] / less_columns['production_budget']) * 100

In [20]:
less_columns['profit'] = less_columns['total_gross']-less_columns['production_budget']

In [21]:
studio_sums = less_columns.groupby(['studio']).sum()
studio_sums

,popularity,vote_average,vote_count,runtime_minutes,averagerating,numvotes,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
studio,,,,,,,,,,,,
A24,177.550,97.7,21684,1509.0,100.1,1206985,94600000,207166275,323623543,530789818,10770.732431,436189818
Affirm,16.047,13.2,123,216.0,12.7,6882,7000000,23350207,31471492,54821699,1448.760040,47821699
Amazon,16.925,7.0,752,152.0,6.8,37360,20000000,2483472,7034615,9518087,47.590435,-10481913
Annapurna,100.926,35.9,3614,696.0,36.2,213777,261000000,207794225,307072947,514867172,1139.192187,253867172
BBC,0.600,5.0,1,100.0,7.3,112,600000,0,7943,7943,1.323833,-592057
BG,48.512,28.4,3826,516.0,27.0,158526,111000000,43210647,61268076,104478723,572.778535,-6521277
BH Tilt,76.181,30.9,3678,375.0,32.0,141521,16000000,48374353,69810487,118184840,5256.873842,102184840
BST,120.414,73.4,8806,1240.0,76.9,487072,153500000,91898598,186666482,278565080,3346.527885,125065080
BV,789.736,212.2,191742,3530.0,217.2,7438004,4930900000,7868428343,20710706838,28579135181,15814.952113,23648235181
Cleopatra,14.240,15.0,1000,206.0,14.8,46408,16000000,165406,34765386,34930792,436.634900,18930792
Cohen,7.692,6.1,150,105.0,6.3,12047,10000000,1279681,7582196,8861877,88.618770,-1138123
Drft.,10.424,6.5,1063,100.0,6.7,70213,1000000,231738,354836,586574,58.657400,-413426
EC,45.500,25.2,2572,445.0,25.4,126980,56000000,20801880,38160590,58962470,489.889278,2962470
ENTMP,28.805,27.4,1382,485.0,24.5,37269,79600000,21152136,76207024,97359160,701.584144,17759160
EOne,17.024,15.2,2986,93.0,16.1,12,155000000,2622426,204057838,206680264,266.684212,51680264
Focus,282.564,143.9,34486,2468.0,140.6,1523453,515800000,592106745,1332493779,1924600524,9503.636371,1408800524
Fox,734.848,289.3,131548,4845.0,289.5,5069873,2802000000,3998893184,10386079652,14384972836,23113.311283,11582972836
FoxS,224.329,107.2,39004,1566.0,106.9,1719355,185000000,401092700,1044508829,1445601529,11393.811014,1260601529
Global Road,14.585,5.9,471,94.0,6.1,30586,15000000,6708137,12758799,19466936,129.779573,4466936
GrtIndia,10.406,7.0,252,167.0,8.3,65656,30000000,18985794,263502914,282488708,941.629027,252488708
IFC,30.982,60.4,969,753.0,61.3,58818,190000000,80924681,209490477,290415158,547.553002,100415158
LG/S,148.991,65.6,37332,1156.0,65.2,1549622,745000000,639330861,1800363081,2439693942,7668.554061,1694693942
LGF,429.474,256.7,60967,3381.0,221.5,2230900,772000000,1339905730,2737504231,4077409961,23994.820092,3305409961
MGM,26.907,6.7,2236,130.0,7.2,72503,50000000,115715889,213591522,329307411,658.614822,279307411
Magn.,29.984,29.4,1380,604.0,28.8,176956,6800000,1060920,1834388,2895308,160.819888,-3904692
Neon,30.814,15.0,5808,240.0,15.0,283336,22000000,60029068,107594818,167623886,1523.853509,145623886
ORF,132.682,77.2,10280,1248.0,75.4,354551,260400000,162931066,267763012,430694078,3045.997799,170294078
Orch.,12.545,7.8,915,101.0,7.9,87532,2500000,5205471,23845533,29051004,1162.040160,26551004
PNT,1.927,5.1,21,101.0,4.7,876,3000000,3127773,7445044,10572817,352.427233,7572817
Par.,486.298,194.9,79496,3346.0,192.2,3402870,1804000000,2147521761,4748889851,6896411612,23579.993443,5092411612
RAtt.,135.510,92.9,12133,1279.0,95.7,540990,222000000,124893059,240716180,365609239,4169.885662,143609239
RLJ,33.680,19.4,1240,468.0,21.4,88834,24000000,4858100,5710624,10568724,176.145400,-13431276
Rela.,6.324,4.4,272,85.0,3.9,8167,15000000,2423467,3503761,5927228,39.514853,-9072772
SGem,108.662,46.3,7748,826.0,47.6,226961,179000000,224435624,641427824,865863448,5227.870828,686863448
SPC,7.725,5.8,186,103.0,6.3,10629,3200000,4267219,5526942,9794161,306.067531,6594161
STX,322.882,137.3,27437,2270.0,134.2,1104462,711100000,792181406,1809801739,2601983145,10663.862462,1890883145
Sony,435.690,146.3,66825,2581.0,147.1,2107488,1281000000,2292330197,6048176886,8340507083,14407.593881,7059507083
Studio 8,87.402,24.0,3778,403.0,26.3,58276,183000000,131558970,324822602,456381572,963.428516,273381572
TriS,44.107,20.9,10371,320.0,21.2,468318,74000000,210543060,395369016,605912076,2528.434223,531912076
Uni.,1014.396,494.0,175318,8156.0,485.1,5640833,2514000000,8275448606,20181027003,28456475609,327899.058071,25942475609
VE,12.741,12.0,285,217.0,12.8,27212,40000000,4777340,6737699,11515039,107.553243,-28484961
W/Dim.,10.713,5.5,1065,106.0,5.7,33335,20000000,55039,15824374,15879413,79.397065,-4120587
WB,936.155,285.3,175306,4880.0,285.4,7193403,4841000000,6674619405,16103516351,22778135756,20888.954681,17937135756
WB (NL),281.007,138.5,56045,2037.0,140.4,1863484,591000000,1756779507,3477564781,5234344288,28765.636626,4643344288
Wein.,120.447,64.4,20431,1066.0,56.5,606387,148000000,241212306,662685352,903897658,7313.055099,755897658

In [22]:
studio_sums['total_ROI']=studio_sums['total_gross']/studio_sums['production_budget']*100

In [23]:
studio_sums.sort_values(by='total_ROI', ascending=False)

,popularity,vote_average,vote_count,runtime_minutes,averagerating,numvotes,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit,total_ROI
studio,,,,,,,,,,,,,
Orch.,12.545,7.8,915,101.0,7.9,87532,2500000,5205471,23845533,29051004,1162.040160,26551004,1162.040160
Uni.,1014.396,494.0,175318,8156.0,485.1,5640833,2514000000,8275448606,20181027003,28456475609,327899.058071,25942475609,1131.920271
GrtIndia,10.406,7.0,252,167.0,8.3,65656,30000000,18985794,263502914,282488708,941.629027,252488708,941.629027
WB (NL),281.007,138.5,56045,2037.0,140.4,1863484,591000000,1756779507,3477564781,5234344288,28765.636626,4643344288,885.675852
TriS,44.107,20.9,10371,320.0,21.2,468318,74000000,210543060,395369016,605912076,2528.434223,531912076,818.800103
Affirm,16.047,13.2,123,216.0,12.7,6882,7000000,23350207,31471492,54821699,1448.760040,47821699,783.167129
FoxS,224.329,107.2,39004,1566.0,106.9,1719355,185000000,401092700,1044508829,1445601529,11393.811014,1260601529,781.406232
Neon,30.814,15.0,5808,240.0,15.0,283336,22000000,60029068,107594818,167623886,1523.853509,145623886,761.926755
BH Tilt,76.181,30.9,3678,375.0,32.0,141521,16000000,48374353,69810487,118184840,5256.873842,102184840,738.655250
MGM,26.907,6.7,2236,130.0,7.2,72503,50000000,115715889,213591522,329307411,658.614822,279307411,658.614822
Sony,435.690,146.3,66825,2581.0,147.1,2107488,1281000000,2292330197,6048176886,8340507083,14407.593881,7059507083,651.093449
Wein.,120.447,64.4,20431,1066.0,56.5,606387,148000000,241212306,662685352,903897658,7313.055099,755897658,610.741661
BV,789.736,212.2,191742,3530.0,217.2,7438004,4930900000,7868428343,20710706838,28579135181,15814.952113,23648235181,579.592674
A24,177.550,97.7,21684,1509.0,100.1,1206985,94600000,207166275,323623543,530789818,10770.732431,436189818,561.088603
LGF,429.474,256.7,60967,3381.0,221.5,2230900,772000000,1339905730,2737504231,4077409961,23994.820092,3305409961,528.161912
Fox,734.848,289.3,131548,4845.0,289.5,5069873,2802000000,3998893184,10386079652,14384972836,23113.311283,11582972836,513.382328
SGem,108.662,46.3,7748,826.0,47.6,226961,179000000,224435624,641427824,865863448,5227.870828,686863448,483.722597
WB,936.155,285.3,175306,4880.0,285.4,7193403,4841000000,6674619405,16103516351,22778135756,20888.954681,17937135756,470.525424
Par.,486.298,194.9,79496,3346.0,192.2,3402870,1804000000,2147521761,4748889851,6896411612,23579.993443,5092411612,382.284457
Focus,282.564,143.9,34486,2468.0,140.6,1523453,515800000,592106745,1332493779,1924600524,9503.636371,1408800524,373.129221
STX,322.882,137.3,27437,2270.0,134.2,1104462,711100000,792181406,1809801739,2601983145,10663.862462,1890883145,365.909597
PNT,1.927,5.1,21,101.0,4.7,876,3000000,3127773,7445044,10572817,352.427233,7572817,352.427233
LG/S,148.991,65.6,37332,1156.0,65.2,1549622,745000000,639330861,1800363081,2439693942,7668.554061,1694693942,327.475697
SPC,7.725,5.8,186,103.0,6.3,10629,3200000,4267219,5526942,9794161,306.067531,6594161,306.067531
Studio 8,87.402,24.0,3778,403.0,26.3,58276,183000000,131558970,324822602,456381572,963.428516,273381572,249.388837
Cleopatra,14.240,15.0,1000,206.0,14.8,46408,16000000,165406,34765386,34930792,436.634900,18930792,218.317450
Annapurna,100.926,35.9,3614,696.0,36.2,213777,261000000,207794225,307072947,514867172,1139.192187,253867172,197.267116
BST,120.414,73.4,8806,1240.0,76.9,487072,153500000,91898598,186666482,278565080,3346.527885,125065080,181.475622
ORF,132.682,77.2,10280,1248.0,75.4,354551,260400000,162931066,267763012,430694078,3045.997799,170294078,165.397111
RAtt.,135.510,92.9,12133,1279.0,95.7,540990,222000000,124893059,240716180,365609239,4169.885662,143609239,164.688846
IFC,30.982,60.4,969,753.0,61.3,58818,190000000,80924681,209490477,290415158,547.553002,100415158,152.850083
EOne,17.024,15.2,2986,93.0,16.1,12,155000000,2622426,204057838,206680264,266.684212,51680264,133.342106
Global Road,14.585,5.9,471,94.0,6.1,30586,15000000,6708137,12758799,19466936,129.779573,4466936,129.779573
ENTMP,28.805,27.4,1382,485.0,24.5,37269,79600000,21152136,76207024,97359160,701.584144,17759160,122.310503
EC,45.500,25.2,2572,445.0,25.4,126980,56000000,20801880,38160590,58962470,489.889278,2962470,105.290125
BG,48.512,28.4,3826,516.0,27.0,158526,111000000,43210647,61268076,104478723,572.778535,-6521277,94.124976
Cohen,7.692,6.1,150,105.0,6.3,12047,10000000,1279681,7582196,8861877,88.618770,-1138123,88.618770
W/Dim.,10.713,5.5,1065,106.0,5.7,33335,20000000,55039,15824374,15879413,79.397065,-4120587,79.397065
Drft.,10.424,6.5,1063,100.0,6.7,70213,1000000,231738,354836,586574,58.657400,-413426,58.657400
Amazon,16.925,7.0,752,152.0,6.8,37360,20000000,2483472,7034615,9518087,47.590435,-10481913,47.590435
RLJ,33.680,19.4,1240,468.0,21.4,88834,24000000,4858100,5710624,10568724,176.145400,-13431276,44.036350
Magn.,29.984,29.4,1380,604.0,28.8,176956,6800000,1060920,1834388,2895308,160.819888,-3904692,42.578059
Rela.,6.324,4.4,272,85.0,3.9,8167,15000000,2423467,3503761,5927228,39.514853,-9072772,39.514853
VE,12.741,12.0,285,217.0,12.8,27212,40000000,4777340,6737699,11515039,107.553243,-28484961,28.787598
BBC,0.600,5.0,1,100.0,7.3,112,600000,0,7943,7943,1.323833,-592057,1.323833

In [24]:
orch = less_columns.loc[less_columns['studio'] == 'Orch.']
orch

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1338,"[Adventure, Comedy, Drama]",en,12.545,Hunt for the Wilderpeople,7.8,915,101.0,7.9,87532,Orch.,"Jun 24, 2016",2500000,5205471,23845533,29051004,1162.04016,26551004

In [25]:
bh_tilt = less_columns.loc[less_columns['studio'] == 'BH Tilt']
bh_tilt

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1417,"[Horror, Thriller]",en,8.357,The Darkness,4.8,347,92.0,4.4,12435,BH Tilt,"May 13, 2016",4000000,10753574,10898293,21651867,541.296675,17651867
1425,"[Horror, Thriller]",en,7.137,Incarnate,5.2,314,91.0,5.3,10217,BH Tilt,"Dec 2, 2016",5000000,4799774,9371036,14170810,283.416200,9170810
1622,"[Action, Thriller, Science Fiction]",en,21.413,Upgrade,7.4,1326,100.0,7.6,104978,BH Tilt,"Jun 1, 2018",3000000,11977130,16553285,28530415,951.013833,25530415
1623,"[Action, Thriller, Science Fiction]",en,21.413,Upgrade,7.4,1326,NaN,8.8,69,BH Tilt,"Jun 1, 2018",3000000,11977130,16553285,28530415,951.013833,25530415
1634,[Horror],en,17.861,Unfriended: Dark Web,6.1,365,92.0,5.9,13822,BH Tilt,"Jul 20, 2018",1000000,8866745,16434588,25301333,2530.133300,24301333

In [26]:
BBC = less_columns.loc[less_columns['studio'] == 'BBC']
BBC

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1254,"[Music, Documentary]",fr,0.6,They Will Have to Kill Us First,5.0,1,100.0,7.3,112,BBC,"Mar 4, 2016",600000,0,7943,7943,1.323833,-592057

In [27]:
universal = less_columns.loc[less_columns['studio'] == 'Uni.']
universal

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
195,"[Comedy, Animation]",en,0.834,Get Out,5.5,8,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,426408616
196,"[Mystery, Thriller, Horror]",en,24.739,Get Out,7.5,8760,104.0,7.7,400474,Uni.,"Feb 24, 2017",5000000,176040665,255367951,431408616,8628.172320,426408616
580,"[Horror, Thriller, Mystery]",en,8.102,Truth or Dare,5.6,194,96.0,5.6,8123,Uni.,"Apr 13, 2018",3500000,41411015,95127344,136538359,3901.095971,133038359
581,"[Horror, Thriller, Mystery]",en,8.102,Truth or Dare,5.6,194,85.0,6.0,14,Uni.,"Apr 13, 2018",3500000,41411015,95127344,136538359,3901.095971,133038359
582,"[Horror, Thriller, Mystery]",en,8.102,Truth or Dare,5.6,194,84.0,4.8,554,Uni.,"Apr 13, 2018",3500000,41411015,95127344,136538359,3901.095971,133038359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1616,"[History, Drama]",en,22.958,First Man,7.1,2304,92.0,6.6,186,Uni.,"Oct 12, 2018",60000000,44936545,105203825,150140370,250.233950,90140370
1619,"[Drama, Romance]",en,22.512,Fifty Shades Freed,6.1,3535,105.0,4.5,43893,Uni.,"Feb 9, 2018",55000000,100407760,371350619,471758379,857.742507,416758379
1620,"[Drama, Comedy, Fantasy]",en,22.032,Welcome to Marwen,6.6,286,116.0,6.1,8920,Uni.,"Dec 21, 2018",45000000,10763520,12874922,23638442,52.529871,-21361558
1621,[Comedy],en,21.841,Blockers,6.1,969,102.0,6.2,57142,Uni.,"Apr 6, 2018",21000000,60311495,94045328,154356823,735.032490,133356823
1646,"[Mystery, Horror, Thriller]",en,16.017,Insidious: The Last Key,6.1,1306,103.0,5.7,42154,Uni.,"Jan 5, 2018",10000000,67745330,167885588,235630918,2356.309180,225630918

In [28]:
A24 = less_columns.loc[less_columns['studio'] == 'A24']
A24

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1180,"[Horror, Crime, Thriller]",en,9.943,Green Room,6.8,1314,95.0,7.0,90773,A24,"Apr 15, 2016",5000000,3220371,3807503,7027874,140.557480,2027874
1181,"[Horror, Crime, Thriller]",en,9.943,Green Room,6.8,1314,95.0,7.0,90773,A24,"Apr 15, 2016",5000000,3220371,3807503,7027874,140.557480,2027874
1379,"[Comedy, Drama, Romance, Fantasy, Adventure]",en,10.000,Swiss Army Man,6.9,1789,97.0,7.0,91736,A24,"Jun 24, 2016",3000000,4210454,5837111,10047565,334.918833,7047565
1406,[Drama],en,8.778,American Honey,6.7,417,163.0,7.0,31663,A24,"Sep 30, 2016",3500000,663247,2611750,3274997,93.571343,-225003
1488,"[Comedy, Drama]",en,15.974,Lady Bird,7.3,3866,94.0,7.4,177677,A24,"Nov 3, 2017",10000000,48958273,78610769,127569042,1275.690420,117569042
1489,"[Comedy, Drama]",en,15.974,Lady Bird,7.3,3866,94.0,7.4,177677,A24,"Nov 3, 2017",10000000,48958273,78610769,127569042,1275.690420,117569042
1519,"[Comedy, Drama]",en,13.270,The Disaster Artist,7.2,1895,104.0,7.4,111737,A24,"Dec 1, 2017",10000000,21120616,28717667,49838283,498.382830,39838283
1520,"[Comedy, Drama]",en,13.270,The Disaster Artist,7.2,1895,104.0,7.4,111737,A24,"Dec 1, 2017",10000000,21120616,28717667,49838283,498.382830,39838283
1528,"[Action, Crime, Mystery]",en,12.116,Free Fire,6.3,540,91.0,6.4,35954,A24,"Apr 21, 2017",10000000,1799322,3793739,5593061,55.930610,-4406939
1532,"[Drama, Fantasy, Romance]",en,11.886,A Ghost Story,7.0,906,92.0,6.8,46280,A24,"Jul 7, 2017",100000,1594798,2769782,4364580,4364.580000,4264580
1533,[Drama],en,11.597,The Florida Project,7.4,1125,111.0,7.6,72193,A24,"Oct 6, 2017",2000000,5904366,11295324,17199690,859.984500,15199690
1547,"[Drama, Adventure]",en,9.307,Lean on Pete,6.9,133,121.0,7.2,8607,A24,"Apr 6, 2018",8000000,1163056,2455027,3618083,45.226037,-4381917
1548,"[Drama, Adventure]",en,9.307,Lean on Pete,6.9,133,121.0,7.2,8607,A24,"Apr 6, 2018",8000000,1163056,2455027,3618083,45.226037,-4381917
1604,"[Horror, Mystery, Thriller]",en,26.185,Hereditary,7.0,2491,127.0,7.3,151571,A24,"Jun 8, 2018",10000000,44069456,70133905,114203361,1142.033610,104203361

In [29]:
WB = less_columns.loc[less_columns['studio'] == 'WB (NL)']
WB

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1246,[Drama],en,1.400,Tag,4.0,1,91.0,4.6,158,WB (NL),"Jun 15, 2018",28000000,54730625,77026186,131756811,470.560039,103756811
1247,[Drama],en,1.400,Tag,4.0,1,100.0,6.5,85186,WB (NL),"Jun 15, 2018",28000000,54730625,77026186,131756811,470.560039,103756811
1248,"[Comedy, Drama]",en,18.500,Tag,6.8,1297,91.0,4.6,158,WB (NL),"Jun 15, 2018",28000000,54730625,77026186,131756811,470.560039,103756811
1249,"[Comedy, Drama]",en,18.500,Tag,6.8,1297,100.0,6.5,85186,WB (NL),"Jun 15, 2018",28000000,54730625,77026186,131756811,470.560039,103756811
1291,"[Drama, Romance]",en,16.917,Me Before You,7.7,5939,106.0,7.4,174567,WB (NL),"Jun 3, 2016",20000000,56245075,208265198,264510273,1322.551365,244510273
1318,"[Action, Comedy, Mystery]",en,14.478,Central Intelligence,6.3,3133,107.0,6.3,138872,WB (NL),"Jun 17, 2016",50000000,127440871,217194805,344635676,689.271352,294635676
1332,"[Drama, Romance]",en,12.857,Collateral Beauty,7.2,3270,97.0,6.8,78764,WB (NL),"Dec 16, 2016",36000000,31016021,85309093,116325114,323.125317,80325114
1333,"[Drama, Romance]",en,12.857,Collateral Beauty,7.2,3270,97.0,6.8,78764,WB (NL),"Dec 16, 2016",36000000,31016021,85309093,116325114,323.125317,80325114
1334,[Comedy],en,12.846,Barbershop: The Next Cut,6.0,248,111.0,5.9,13306,WB (NL),"Apr 15, 2016",20000000,54030051,54404202,108434253,542.171265,88434253
1339,"[Thriller, Mystery, Horror]",en,12.408,Lights Out,6.3,2220,NaN,6.6,10,WB (NL),"Jul 22, 2016",5000000,67268835,148806510,216075345,4321.506900,211075345
1340,"[Thriller, Mystery, Horror]",en,12.408,Lights Out,6.3,2220,NaN,8.6,22,WB (NL),"Jul 22, 2016",5000000,67268835,148806510,216075345,4321.506900,211075345
1341,"[Thriller, Mystery, Horror]",en,12.408,Lights Out,6.3,2220,81.0,6.3,100650,WB (NL),"Jul 22, 2016",5000000,67268835,148806510,216075345,4321.506900,211075345
1398,"[Action, Comedy]",en,8.952,Keanu,6.0,644,100.0,6.3,41560,WB (NL),"Apr 29, 2016",15000000,20591853,20688141,41279994,275.199960,26279994
1465,"[Horror, Mystery, Thriller]",en,21.245,Annabelle: Creation,6.5,3141,109.0,6.5,90402,WB (NL),"Aug 11, 2017",15000000,102092201,305384865,407477066,2716.513773,392477066
1514,"[Horror, Thriller]",en,13.966,It,7.2,10931,135.0,7.4,359123,WB (NL),"Sep 8, 2017",35000000,327481748,697457969,1024939717,2928.399191,989939717
1515,"[Horror, Thriller]",en,13.966,It,7.2,10931,135.0,7.4,359123,WB (NL),"Sep 8, 2017",35000000,327481748,697457969,1024939717,2928.399191,989939717
1544,[Comedy],en,9.808,Fist Fight,6.0,708,91.0,5.6,35136,WB (NL),"Feb 17, 2017",25000000,32187017,40286416,72473433,289.893732,47473433
1545,[Comedy],en,9.620,The House,5.7,474,109.0,4.6,50,WB (NL),"Jun 30, 2017",40000000,25584504,31192425,56776929,141.942323,16776929
1546,[Comedy],en,9.620,The House,5.7,474,88.0,5.6,33365,WB (NL),"Jun 30, 2017",40000000,25584504,31192425,56776929,141.942323,16776929
1630,"[Mystery, Comedy, Crime]",en,19.459,Game Night,6.9,2756,100.0,7.0,163279,WB (NL),"Feb 23, 2018",37000000,69179066,117378084,186557150,504.208514,149557150
1651,[Comedy],en,13.696,Life of the Party,6.2,435,84.0,7.6,47,WB (NL),"May 11, 2018",30000000,53059911,65759911,118819822,396.066073,88819822
1652,[Comedy],en,13.696,Life of the Party,6.2,435,105.0,5.5,25756,WB (NL),"May 11, 2018",30000000,53059911,65759911,118819822,396.066073,88819822

In [30]:
paramount = less_columns.loc[less_columns['studio'] == 'Par.']
paramount

,genre_ids,original_language,popularity,title,vote_average,vote_count,runtime_minutes,averagerating,numvotes,studio,release_date_y,production_budget,domestic_gross,worldwide_gross,total_gross,ROI,profit
1250,[Comedy],en,0.600,Book Club,10.0,1,72.0,6.6,9,Par.,"May 18, 2018",10000000,68566296,91113683,159679979,1596.799790,149679979
1251,[Comedy],en,0.600,Book Club,10.0,1,104.0,6.1,18728,Par.,"May 18, 2018",10000000,68566296,91113683,159679979,1596.799790,149679979
1252,"[Comedy, Romance, Drama]",en,11.514,Book Club,6.0,301,72.0,6.6,9,Par.,"May 18, 2018",10000000,68566296,91113683,159679979,1596.799790,149679979
1253,"[Comedy, Romance, Drama]",en,11.514,Book Club,6.0,301,104.0,6.1,18728,Par.,"May 18, 2018",10000000,68566296,91113683,159679979,1596.799790,149679979
1264,"[Drama, Science Fiction, Mystery]",en,25.442,Arrival,7.4,10387,116.0,7.9,515483,Par.,"Nov 11, 2016",47000000,100546139,203127894,303674033,646.114964,256674033
1265,"[Drama, Science Fiction, Mystery]",en,25.442,Arrival,7.4,10387,116.0,7.9,515483,Par.,"Nov 11, 2016",47000000,100546139,203127894,303674033,646.114964,256674033
1270,"[Action, Drama, War, Romance, Thriller]",en,19.611,Allied,6.7,2765,124.0,7.1,125741,Par.,"Nov 23, 2016",106000000,40098064,119266661,159364725,150.344080,53364725
1271,"[Action, Drama, War, Romance, Thriller]",en,19.611,Allied,6.7,2765,124.0,7.1,125741,Par.,"Nov 23, 2016",106000000,40098064,119266661,159364725,150.344080,53364725
1272,"[Action, Adventure, Science Fiction]",en,19.142,Star Trek Beyond,6.7,4275,122.0,7.1,209844,Par.,"Jul 22, 2016",185000000,158848340,335802233,494650573,267.378688,309650573
1277,"[Thriller, Science Fiction, Drama]",en,17.892,10 Cloverfield Lane,6.9,4629,103.0,7.2,260383,Par.,"Mar 11, 2016",5000000,72082999,108286422,180369421,3607.388420,175369421
1289,"[Action, Thriller]",en,17.085,Jack Reacher: Never Go Back,5.6,2831,118.0,6.1,121892,Par.,"Oct 21, 2016",60000000,58697076,159946489,218643565,364.405942,158643565
1290,"[Action, Thriller]",en,17.085,Jack Reacher: Never Go Back,5.6,2831,118.0,6.1,121892,Par.,"Oct 21, 2016",60000000,58697076,159946489,218643565,364.405942,158643565
1311,"[Action, Adventure, Comedy, Family, Science Fi...",en,15.096,Teenage Mutant Ninja Turtles: Out of the Shadows,5.9,1860,112.0,6.0,77234,Par.,"Jun 3, 2016",135000000,82051601,245328374,327379975,242.503685,192379975
1329,[Comedy],en,12.997,Zoolander 2,4.7,1374,101.0,4.7,59914,Par.,"Feb 12, 2016",50000000,28848693,55348693,84197386,168.394772,34197386
1335,[Drama],en,12.753,Fences,6.8,1465,139.0,7.2,86749,Par.,"Dec 16, 2016",24000000,57682904,64282881,121965785,508.190771,97965785
1336,[Drama],en,12.753,Fences,6.8,1465,139.0,7.2,86749,Par.,"Dec 16, 2016",24000000,57682904,64282881,121965785,508.190771,97965785
1363,[Comedy],en,10.729,Office Christmas Party,5.6,1191,105.0,5.8,59253,Par.,"Dec 9, 2016",45000000,54767494,91323299,146090793,324.646207,101090793
1410,"[War, Comedy]",en,8.564,Whiskey Tango Foxtrot,6.2,596,112.0,6.6,46265,Par.,"Mar 4, 2016",35000000,23083334,25350747,48434081,138.383089,13434081
1416,"[Comedy, Drama]",en,8.453,Florence Foster Jenkins,6.7,849,111.0,6.8,44970,Par.,"Aug 12, 2016",29000000,27383770,56000339,83384109,287.531410,54384109
1455,"[Action, Science Fiction, Thriller, Adventure]",en,24.258,Transformers: The Last Knight,6.0,3255,154.0,5.2,119007,Par.,"Jun 21, 2017",217000000,130168683,602893340,733062023,337.816600,516062023
1511,"[Action, Comedy]",en,14.429,Baywatch,6.1,4748,116.0,5.6,137528,Par.,"May 25, 2017",60000000,58060186,175863783,233923969,389.873282,173923969
1518,[Horror],en,13.530,Rings,4.9,1785,102.0,4.5,34151,Par.,"Feb 3, 2017",25000000,27793018,82917283,110710301,442.841204,85710301
1535,"[Comedy, Drama, Science Fiction]",en,10.682,Downsizing,5.1,1887,135.0,5.7,74815,Par.,"Dec 22, 2017",68000000,24449754,54462971,78912725,116.048125,10912725
1536,"[Comedy, Drama, Science Fiction]",en,10.682,Downsizing,5.1,1887,135.0,5.7,74815,Par.,"Dec 22, 2017",68000000,24449754,54462971,78912725,116.048125,10912725
1552,"[Action, Comedy, Science Fiction]",en,8.827,Monster Trucks,5.9,414,104.0,5.7,13525,Par.,"Jan 13, 2017",125000000,33370166,61642798,95012964,76.010371,-29987036
1580,"[Action, Adventure, Science Fiction]",en,43.078,Bumblebee,6.5,2425,114.0,6.9,94155,Par.,"Dec 21, 2018",102000000,127195589,465195589,592391178,580.775665,490391178
1595,"[Drama, Horror, Thriller, Science Fiction]",en,29.154,A Quiet Place,7.3,5848,80.0,6.6,18,Par.,"Apr 6, 2018",17000000,188024361,334522294,522546655,3073.803853,505546655
1596,"[Drama, Horror, Thriller, Science Fiction]",en,29.154,A Quiet Place,7.3,5848,90.0,7.6,305031,Par.,"Apr 6, 2018",17000000,188024361,334522294,522546655,3073.803853,505546655
1618,"[Comedy, Drama]",en,22.634,Instant Family,7.6,782,118.0,7.4,46728,Par.,"Nov 16, 2018",48000000,67363237,119736188,187099425,389.790469,139099425
1655,"[Romance, Animation, Comedy, Family, Fantasy, ...",en,12.987,Sherlock Gnomes,5.4,343,86.0,5.1,8030,Par.,"Mar 23, 2018",59000000,43242871,87527651,130770522,221.644953,71770522

In [31]:
less_columns.groupby('studio').sort_values(by='profit', ascending=False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [ ]:
exploded = less_columns.explode('genre_ids', ignore_index=False)

In [ ]:
exploded.reset_index()

In [ ]:
exploded['release_date_y'].values[0][0:3]

In [ ]:
exploded['month'] = exploded['release_date_y'].str[0:3]

In [ ]:
exploded

In [ ]:
month = exploded['month']

In [ ]:
month.value_counts().index

In [ ]:
exploded['genre_ids'].value_counts

In [ ]:
month_genre_roi_title = exploded.drop(['original_language'], ['popularity'], ['vote_adverage'], ['vote_count'],\
                                      ['runtime_minutes'], ['averagerating'], ['numvotes'] axis=1)

In [ ]:


labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = [20, 35, 30, 35, 27]
women_means = [25, 32, 34, 20, 25]
men_std = [2, 3, 4, 1, 2]
women_std = [3, 5, 2, 3, 3]
width = 0.35       # the width of the bars: can also be len(x) sequence

fig, ax = plt.subplots()

ax.bar(labels, men_means, width, yerr=men_std, label='Men')
ax.bar(labels, women_means, width, yerr=women_std, bottom=men_means,
       label='Women')

ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.legend()

plt.show()

In [ ]:
orch