Initial Data science

In [2]:
!ls

Exploration_analysis.ipynb zippedData
README.md

Using the movie budgets is part of data exploration to use for how much to expect in terms of cost for the average 
movie productions.

In [33]:
import pandas as pd
movie_budgets_df = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
movie_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [34]:
movie_budgets_df.shape

(5782, 6)

In [25]:
# movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].replace('$','', regex=True, inplace=True)

    The columns for production budget, domestic gross and the worldwide gross of each movies are in string format. It needs to be converted to integers

In [6]:
movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].str.replace(',', '')

In [7]:
movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].str.replace('$', '')
movie_budgets_df['production_budget'] = movie_budgets_df['production_budget'].astype(int)

In [8]:
movie_budgets_df['domestic_gross'] = movie_budgets_df['domestic_gross'].str.replace(',', '').str.replace('$', '')
movie_budgets_df['domestic_gross'] = movie_budgets_df['domestic_gross'].astype(int)

In [9]:
movie_budgets_df['worldwide_gross'] = movie_budgets_df['worldwide_gross'].str.replace(',', '').str.replace('$', '')
movie_budgets_df['worldwide_gross'] = movie_budgets_df['worldwide_gross'].astype(int)

The next column is for the rate of return for each movie

In [23]:
movie_budgets_df['total_gross'] = movie_budgets_df['domestic_gross'] + movie_budgets_df['worldwide_gross']

In [24]:
movie_budgets_df['returns_in_%'] = (movie_budgets_df['total_gross'] / movie_budgets_df['production_budget']) * 100

In [25]:
movie_budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,returns_in_%
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,3536852904,832.200683
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,1286727750,313.377435
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,192524700,55.007057
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1862019831,563.224389
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1936903129,611.010451

In [62]:
movie_budgets_df.isnull().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
total_gross          0
returns_in_%         0
dtype: int64

In [13]:
movie_budgets_df.sort_values('production_budget', ascending=False).head(10)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,total_gross,returns_in_%
0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,3536852904,832.200683
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,1286727750,313.377435
2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,192524700,55.007057
3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,1862019831,563.224389
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,1936903129,611.010451
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,306000000,936662225,2053311220,2989973445,977.115505
6,7,"Apr 27, 2018",Avengers: Infinity War,300000000,678815482,2048134200,2726949682,908.983227
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,300000000,309420425,963420425,1272840850,424.280283
8,9,"Nov 17, 2017",Justice League,300000000,229024295,655945209,884969504,294.989835
9,10,"Nov 6, 2015",Spectre,300000000,200074175,879620923,1079695098,359.898366

The worst movies to make, however some of these movies are made for contents on app.

In [30]:
# df.loc[(df[['a', 'b']] != 0).all(axis=1)]
movie_budgets_filtered_df = movie_budgets_df.loc[(movie_budgets_df['total_gross'] != 0)]

In [32]:
movie_budgets_filtered_df.shape

(5415, 8)

Most expensive movies of all time

In [36]:
movie_budgets_filtered_df[movie_budgets_filtered_df['production_budget'].notnull()][['movie', 'production_budget', 'total_gross', 'returns_in_%', 'release_date']].sort_values('production_budget', ascending=False).head(10)

,movie,production_budget,total_gross,returns_in_%,release_date
0,Avatar,425000000,3536852904,832.200683,"Dec 18, 2009"
1,Pirates of the Caribbean: On Stranger Tides,410600000,1286727750,313.377435,"May 20, 2011"
2,Dark Phoenix,350000000,192524700,55.007057,"Jun 7, 2019"
3,Avengers: Age of Ultron,330600000,1862019831,563.224389,"May 1, 2015"
4,Star Wars Ep. VIII: The Last Jedi,317000000,1936903129,611.010451,"Dec 15, 2017"
5,Star Wars Ep. VII: The Force Awakens,306000000,2989973445,977.115505,"Dec 18, 2015"
6,Avengers: Infinity War,300000000,2726949682,908.983227,"Apr 27, 2018"
7,Pirates of the Caribbean: At Worldâs End,300000000,1272840850,424.280283,"May 24, 2007"
8,Justice League,300000000,884969504,294.989835,"Nov 17, 2017"
9,Spectre,300000000,1079695098,359.898366,"Nov 6, 2015"

In [ ]:
# almost all of the movies had a good return on their investments especially Star Wars: The Force Awaken had a good
# 977% on the investment
# Apart from the Dark phoenix which made 55% on its investment could only be considered as low ROI

The correlation between the gross revenue and as well as the production cost

In [38]:
movie_budgets_filtered_df.corr()

,id,production_budget,domestic_gross,worldwide_gross,total_gross,returns_in_%
id,1.000000,-0.033289,0.011889,-0.007100,-0.001803,0.003551
production_budget,-0.033289,1.000000,0.680337,0.746013,0.736922,-0.055799
domestic_gross,0.011889,0.680337,1.000000,0.937761,0.967417,0.044886
worldwide_gross,-0.007100,0.746013,0.937761,1.000000,0.995133,0.026292
total_gross,-0.001803,0.736922,0.967417,0.995133,1.000000,0.031905
returns_in_%,0.003551,-0.055799,0.044886,0.026292,0.031905,1.000000

In [39]:
movie_budgets_filtered_df['total_gross'].describe()

count    5.415000e+03
mean     1.423993e+08
std      2.453305e+08
min      2.600000e+01
25%      1.138616e+07
50%      5.420006e+07
75%      1.612103e+08
max      3.536853e+09
Name: total_gross, dtype: float64

In [41]:
avg_returns_on_movie = movie_budgets_filtered_df['returns_in_%'].mean()

In [42]:
movie_budgets_filtered_df['returns_in_%'].std()

5671.442961560475

In [ ]:
# Based on each movie and its distribution