## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# TMDB Dataset

In [15]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd

In [32]:
tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')

In [17]:
tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [18]:
#genre_ids are a series of strings
#this line strips the "[]" off of the string, splits up the string and make it into a list
#and then reassigns that to column 'genre_ids'
tmdb['genre_ids']=tmdb['genre_ids'].str.strip('[]').str.split(', ')
tmdb['genre_ids']

0            [12, 14, 10751]
1        [14, 12, 16, 10751]
2              [12, 28, 878]
3            [16, 35, 10751]
4              [28, 878, 12]
                ...
26512               [27, 18]
26513               [18, 53]
26514           [14, 28, 12]
26515        [10751, 12, 28]
26516               [53, 27]
Name: genre_ids, Length: 26517, dtype: object

In [19]:
tmdb['genre_ids'][0]

['12', '14', '10751']

In [20]:
type(tmdb['genre_ids'][0])

list

In [26]:
#this function converts a list of genre ids into genre names
def find_names(list_of_ids):
    list_of_genre_names=[]
    for id in list_of_ids:
        list_of_genre_names.append(genres[id])
    return list_of_genre_names

In [27]:
#the genres dictionary
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

In [28]:
find_names(tmdb['genre_ids'][0])

['Adventure', 'Fantasy', 'Family']

In [29]:
tmdb['genre_names']=tmdb.loc tmdb['genre_ids']

In [33]:
tmdb['genre_names'].map(lambda x:find_names(x))

KeyError: 'genre_names'

In [ ]:
tmdb.info()

In [ ]:
tmdb.describe()

In [ ]:
tmdb.columns

In [ ]:
import csv

In [ ]:
with open('zippedData/tmdb.movies.csv') as f1:
    reader1=csv.DictReader(f1)
    for row in reader1:
        print(row)

In [ ]:
#the genres dictionary
genres={'28':"Action",
'12':"Adventure",
'16':"Animation",
'35':"Comedy",
'80':"Crime",
'99':"Documentary",
'18':"Drama",
'10751':"Family",
'14':"Fantasy",
'36':"History",
'27':"Horror",
'10402':"Music",
'9648':"Mystery",
'10749':"Romance",
'878':"Science Fiction",
'10770':"TV Movie",
'53':"Thriller",
'10752':"War",
'37':"Western"}

In [ ]:
type(genres)

# Findings
So the first data set tells us the popularity of each movie

questions we can figure out from this dataset:

what movie genres are most popular in recent years?

what movie genres have the highest vote average? (Which means ratings by people.)

# IMDB Dataset

Note:

1.we need to pick talents that are still alive

Questions:

1. what genre has the best ratings
2. Correlation between running time and rating
3. Top principal actors/actresses/directors/producers that produces the best rated movies
4. Top principal actors/actresses/directors/producers that produces the best box office
5. Top principal actors/actresses/directors/producers that producers the best ROI movies

In [ ]:

imdb_name_basics = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
imdb_title_akas = pd.read_csv('zippedData/imdb.title.akas.csv.gz')
imdb_title_basics = pd.read_csv('zippedData/imdb.title.basics.csv.gz')
imdb_title_crew = pd.read_csv('zippedData/imdb.title.crew.csv.gz')
imdb_principals = pd.read_csv('zippedData/imdb.title.principals.csv.gz')
imdb_title_ratings = pd.read_csv('zippedData/imdb.title.ratings.csv.gz')

In [ ]:
imdb_name_basics.head()

In [ ]:
imdb_name_basics.info()

In [ ]:
imdb_title_akas.head()

In [ ]:
imdb_title_basics.head()

In [ ]:
imdb_title_ratings.head()

In [ ]:
imdb_title_crew.head()

In [ ]:
imdb_principals.head()

In [ ]:
imdb_title_ratings.head()

In [ ]:
imdb_title_ratings.info()